node_modules
.git
.gitignore
.DS_Store
npm-debug.log
yarn-error.log
pnpm-debug.log
.env
*.pem
apps/admin-nuxt/.nuxt
apps/admin-nuxt/.output
apps/admin-nuxt/node_modules
apps/web-next/.next
apps/web-next/node_modules
apps/api/build
apps/api/node_modules
apps/api/.gradle
.idea
.vscode
tmp
dist
coverage
